///-------------------------------------
/// footer
///-------------------------------------

footer {
  .flex-center();

  color: @footer-fg-color;
  background: @footer-bg-color;

  border: 1px double @footer-border-color;
  border-radius: @radius-2 @radius-2 0 0;
  .ins-tb(20px);
}// footer

///-------------------------------------
