///-------------------------------------
/// home
///-------------------------------------

.home {
  & > * {
    .ins-tblr(15px);
    .end-outs-tb(0);
  }

  .intro {
    width: 100%;
    
    img {
      max-width: 100%;
      border-radius: 0 0 @radius-2 @radius-2;
    }// img

    
  }// .intro

  .space-images {
    .flex-space-between();
    width: 100%;

    img {
      height: 100%;
      width: 30%;
      border-radius: @radius-1;

      @media @is-phone {
        width: 100%;
        .outs-lr(0);

        &:not(:first-of-type) {
          display: none;
        }
      }
    }// img
  }// .space-images

  .visit-planets {
    width: 100%;
  }// .visit-planets

  .walk {
    .flex-space-between();
    width: 100%;

    margin-top: 50px;
    border-top: 1px solid @main-border-color;
    padding: 50px 50px;

    @media @is-phone {
      .flex-center(@main-axis: column-reverse);
      margin-top: 15px;
      padding: 15px;
    }

    & > * {
      width: 48%;

      @media @is-phone {
        width: 100%;
        .end-outs-tb(15px); // because they're reversed :facepalm:
      }
    }

    .walk-text {
      .button {
        .my-button(@bg-color: @button-bg-color ; @fg-color: @button-fg-color);

        display: inline-block;
        .outs-tb(15px);
        .end-outs-tb(0);

        @media @is-phone {
          width: 100%;
          .ins-tb(2rem);
        }
      }// .button
    }// .walk-text

    .walk-img {
      img {
        width: 100%;
        height: auto;
        border-radius: @radius-2;
      }
    }// .walk-img
  }// .walk
} // home

///-------------------------------------